@import url("https://fonts.googleapis.com/css2?family=Average+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family: Average Sans, sans-serif;
}

@media screen and (max-width: 640px) {
  .app {
    padding: 0;
  }
}

/* Tailwind Styles */

/* Nav Component */

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.input-color {
  @apply bg-[#D9C2A4];
}

.background-no {
  background-color: rgba(131, 209, 170, 0.3); /* #83D1AA with 20% opacity */
}

.background-yes {
  background-color: rgba(255, 178, 178, 0.3); /* #FFB2B2 with 20% opacity */
}

.background-stat{
  background-color: rgba(217, 194, 164, 0.3);
}
