@import url("https://fonts.googleapis.com/css2?family=Average+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media screen and (max-width: 640px) {
  .app {
    padding: 0;
  }
}

/* Tailwind Styles */

/* Nav Component */

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.input-color {
  @apply bg-[#D9C2A4];
}
